/.metadata/

#ccs 
/RemoteSystemsTempFiles
/dvt
/targetConfigs/
/Debug/

*.cmd
*.ccxml
*.d
*.opt
*.out
*.mk
*.metadata
*.swp
*.jxbrowser
*.userdata
*.metadata
*.cproject
*.project
*.launches
*.settings

